<% if cart&.order_line_items&.any? %>
  <p><strong>Total Price: </strong><%= cart.total_price %></p>
  <div id="order-line-items">
    <%= render cart.order_line_items %>
  </div>
<% else %>
  <%= 'your cart is empty' %>
<% end %>
<% if cart&.order_line_items&.any? %>
  <%= link_to 'Check Out', order_checkout_path(order_id: cart.id) %>
<% end %>
