<p><strong>Total Price: </strong><%= cart.total_price %></p>
<%= render cart.line_items.order(:created_at) %>
<% if cart.line_items.any? %>
  <%= link_to 'Empty Cart', cart, method: :delete %>
  <%= link_to 'Checkout', :checkout_orders, method: :post %>
<% end %>
