<h5><%= link_to category.name, category_items_path(category) %></h5>
<% if policy(category).edit? && policy(category).destroy? %>
  <p>
    <%= link_to 'Edit', edit_category_path(category), class: 'btn btn-warning' %>
    <%= link_to 'Destroy', category, method: :delete, class: 'btn btn-danger' %>
  </p>
<% end %>
